@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container{
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.btn{
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

/* PAGE-HEADER */

.navigation{
  position: relative;
  display: flex;
  margin: 0 70px;
}

.navigation-logo{
  position: absolute;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 450px;
  margin: 0;
  margin-left: 168px;
  padding: 0;
  list-style: none;
}

.navigation-item{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.navigation-link{
  display: block;
  padding: 20px 16px;
  color: #000000;
  text-decoration: none;
}

.navigation-user{
  max-width: 270px;
  margin-left: auto;
}

.navigation-user .navigation-item:last-child{
  margin-left: 20px;
}

.navigation-user .navigation-link{
  box-sizing: border-box;
  min-width: 44px;
  min-height: 64px;
  padding: 22px 12px;
}

.number-of-favorites{
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 5px;
  padding-left: 4px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #7db54f;
}

.btn-header-link{
  display: block;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
}

/* MAIN-INDEX */
.main-container{
  flex-grow: 1;
}

.title-page{
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.description-page{
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/* promo-hero */
.promo-hero{
  width: 100%;
  padding-top: 51px;
  padding-bottom: 82px;
  background:
    url("../images/background/divider-bg.svg") no-repeat center bottom,
    #2c1d1d url("../images/background/hero-bg.jpg") no-repeat center;
  background-size: contain, cover;
}

.welcome-logo{
  display: block;
  margin: 0 auto;
}

/* advantages block */
.advantages{
  padding-top: 69px;
}

.advantages-text-wrapper{
  width: 651px;
  margin: 0 auto 21px;
  padding-bottom: 69px;
}

.advantages-title{
  margin-bottom: 25px;
}

.advantages-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list .title, .services-list .title{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 385px;
  text-align: center;
  color: #000000;
  background-color: #f0f6fa;
}

.advantages-item-wrapper{
  width: 230px;
  min-height: 200px;
  margin: auto 0;
  padding: 70px 85px;
}

.advantages-item:nth-child(odd):not(:first-child):not(:last-child){
  background-color: #e6f0f6;
}

.advantages-item-wide{
  flex-wrap: wrap;
  width: 100%;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-image{
  height: 100%;
  object-fit: cover;
}

.advantages-caption{
  margin: 0;
  margin-bottom: 62px;
}

.advantages-item .advantages-description{
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-item-wide .advantages-description{
  color: #ffffff;
}


/* services block */
.services{
  padding-top: 64px;
}
.services-text-wrapper{
  width: 505px;
  margin: 0 auto;
  padding-bottom: 64px;
}

.services-title{
  margin-bottom: 20px;
}

.services-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item{
  box-sizing: border-box;
  width: 400px;
  padding: 81px 85px;
  text-align: center;
}

.services-item:nth-child(odd){
  background-color: #f0f6fa;
}

.services-name{
  margin: 0;
  margin-bottom: 30px;
}

.services-description{
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/* hotel-search block */
.hotel-search{
  padding: 96px 0;
  text-align: center;
}

.hotel-search-title{
  margin-bottom: 20px;
}

.hotel-search-description{
  margin-bottom: 54px;
}

.hotel-search-btn-link{
  display: inline-block;
  min-width: 276px;
  max-width: 492px;
  padding: 8px 50px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
}

/* MAIN-INNER */
/* inner-header block*/
.sedona-hotels-filter{
  box-sizing: border-box;
  width: 100%;
  padding: 35px 70px 70px;
  color: #ffffff;
  background: #2b537c url("../images/background/filter-bg.jpg") no-repeat center;
  background-size: cover;
}

.inner-header{
  margin-bottom: 40px;
}

.inner-header-title{
  margin: 0 0 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item{
  margin-right: 10px;
  font-size: 16px;
  line-height: 21px;
}

/* hotels-filter block */
.hotels-filter{
  display: flex;
}

.hotels-filter fieldset{
  padding: 0;
  border: none;
}

.hotels-filter-infrastructure{
  flex-basis: 150px;
  margin: 0;
  margin-right: 70px;
}

.hotels-filter-type-of-housing{
  flex-basis: 150px;
  margin: 0;
  margin-right: 140px;
}

.hotels-filter-price-value{
  flex-basis: 150px;
  margin: 0;
  margin-right: 70px;
}

.hotels-filter-title{
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.hotels-filter-list{
  margin: 0;
  padding: 0;
  line-height: 23px;
  list-style: none;
}

.hotels-filter-item:not(:last-child){
  margin-bottom: 16px;
}

.btn-filter-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.btn-apply-hotels-filter{
  width: 191px;
  height: 36px;
  margin-bottom: 32px;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #82b3d3;
  border: none;
}

.btn-reset-hotels-filter{
  width: 191px;
  height: 36px;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: transparent;
  border: none;
}

/* catalog-hotels block*/
.catalog-hotels{
  padding: 50px 70px 60px;
}

.catalog-hotels-sorting{
  margin-bottom: 40px;
}

.sorting-container{
  display: flex;
  align-items: center;
}

.catalog-hotels-title{
  max-width: 350px;
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control{
  min-width: 292px;
  margin-right: 70px;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-card-list{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.view-card-item{
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.view-card-item-active{
  border: 2px solid #000000;
}

.catalog-hotels-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.hotel-card-link{
  text-decoration: none;
  color: #000000;
}

.hotel-card-img{
  display: block;
  object-fit: cover;
}

.hotel-card-title{
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-text{
  line-height: 21px;
  color: #333333;
}

.btn-card{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
}

.btn-more{
  padding: 8px 26px;
  background-color: #756157;
}

.btn-favorites{
  padding: 8px 20px;
  background-color: #82b3d3;
  border: none;
}

.btn-favorites-selected{
  background-color: #7db54f;
}

.hotel-rating{
  padding: 8px 22px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
}

/* catalog-pagination block */
.catalog-pagination-list{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding: 0 15px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link-current{
  background-color: #f2f2f2;
}

.pagination-link-expand{
  background-color: #ffffff;;
}

.pagination-link{
  text-decoration: none;
  color: #ffffff;
}

.pagination-link-current{
  color: #000000;
}

.pagination-link-expand{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

/* PAGE-FOOTER */
.newsletter{
  padding: 96px 0 104px;
  text-align: center;
}

.newsletter-home{
  color: #ffffff;
  background: #1d7d95 url("../images/background/subscribe-bg.jpg") no-repeat center;
  background-size: cover;
}

.newsletter-home .newsletter-title,
.newsletter-home .newsletter-description{
  color: #ffffff;
}

.newsletter-text-wrapper{
  width: 475px;
  margin: 0 auto 54px;
}

.newsletter-title{
  margin-bottom: 20px;
}

.newsletter-form{
  display: flex;
  justify-content: center;
}

.field-subscribe{
  box-sizing: border-box;
  width: 452px;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.newsletter-btn{
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
}

.contacts{
  padding: 40px 70px 30px;
}

.contacts-container{
  display: flex;
  justify-content: space-between;
}

.contacts-social-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.phone-wrapper{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacts-phone{
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
